In [7]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv("population.csv")
df = df.drop("Country Code", axis = 1)
df = df.drop("Indicator Code", axis = 1)
df = df.drop("Unnamed: 67", axis = 1)
df = df.drop("Indicator Name", axis = 1)
df["Info Category"] = "population"
df

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Info Category
0,Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,population
1,Africa Eastern and Southern,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,162875171.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0,population
2,Afghanistan,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,population
3,Africa Western and Central,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,115921723.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,population
4,Angola,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,1163000.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0,population
262,"Yemen, Rep.",5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,6515904.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,population
263,South Africa,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,21050540.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,population
264,Zambia,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,4029173.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,population
265,Zimbabwe,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,4886347.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,population

In [20]:
population_melted = pd.melt(
    df,
    id_vars=["Country Name", "Info Category"],
    var_name = "Year",
    value_name = "population"
)

population_melted

                      Country Name Info Category  Year   population
0                            Aruba    population  1960      54608.0
1      Africa Eastern and Southern    population  1960  130692579.0
2                      Afghanistan    population  1960    8622466.0
3       Africa Western and Central    population  1960   97256290.0
4                           Angola    population  1960    5357195.0
...                            ...           ...   ...          ...
16753                       Kosovo    population  2022    1761985.0
16754                  Yemen, Rep.    population  2022   33696614.0
16755                 South Africa    population  2022   59893885.0
16756                       Zambia    population  2022   20017675.0
16757                     Zimbabwe    population  2022   16320537.0

[16758 rows x 4 columns]

In [21]:
population_melted.to_csv("Country_Population.csv")